.loader-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
}

.loading-bar {
    width: 50%;
    height: 4px;
    background-color: #2172af;
    animation: loadingAnimation 2s infinite;
    transform-origin: left;
}

@keyframes loadingAnimation {
    0% {
        transform: scaleX(0);
    }

    50% {
        transform: scaleX(1);
    }

    100% {
        transform: scaleX(0);
    }
}